* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.categories a {
  text-decoration: none;
}

.product-img {
  height: 50px;
  width: 50px;
}

.layout {
  display: flex;
}

.cart-list {
  background-color: lightblue;
}

.cart-list > * {
  margin-block-end: 20px;
  border: 1px solid black;
}

.content {
  background-color: lightsalmon;
}

.item-details {
  background-color: lightgreen;
}